*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 600
}

#hero{
    background-image: url(../img/queijo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#navegacao ul
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: unset;
    padding: 15px;
}

#navegacao ul a
{
    color: #FFF;
    letter-spacing: 3px;
    text-decoration: none;

}