*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 600
}
html
{
    scroll-behavior: smooth
}

#hero{
   background-color: saddlebrown;
   height: 100vh;
   text-align: center;
}

#navegacao
{
    width: 100%;
    background-color:brown 
}

#navegacao ul
{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 20px;
 padding: 20px;

}

#navegacao ul a
{ 
    color: #f8faf9;
    font-size: 1.3em;
    text-decoration: none;
    
}
#navegacao ul a:hover
{
    text-decoration: underline;
}

.welcome-message 
{
    margin: 3em 0em;
    color:#FFF;
    background-color: #a52a2a;
    font-size: 1.3em;
    letter-spacing: 10px;
    box-shadow: 3px 3px 20px #000
}

#btn-news
{
    text-decoration: none;
    color: #FFF;
    border: 2px solid #000;
    padding: 10px 40px;
    text-transform: uppercase;
    letter-spacing: 6px;
    background: #a52a2a;
}

.container
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-container
{
    margin:1em 0em;
    font-size: 2em;
    color:#8a4513;
    font-weight: bolder;
}

.sub-title-container
{
    margin-bottom: 3em;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.95em;
    font-style: italic;
    font-weight: 500;
}

.item
{
    margin: 1em 0em;
    padding:0em 1em;
    text-align: center;
    line-height: 25px;
    color:#777
}

span
{
    display: block;
    margin-bottom: 1em;
}




/* #vitrine-queijos
{
    display: flex;
    flex-direction: row;
    text-align: center
}

#vitrine-manteiga
{   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row
}
#image-vitrine-manteija
{
    margin-bottom: 10px;
    width: 684px;
    height: 250px
}

#vitrine-manteiga article
{
    text-align: center
}

#box-flex
{
    display: flex;
    justify-content: space-around;
    background: saddlebrown;
    color: #FFF;
    margin: 20px 49px;
    padding: 15px
}
.title-principal
{
    margin: 20px 47px;
    border: 2px solid;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: saddlebrown;
}

.title-vitrine
{
    margin-bottom: 5px;
}

.image-vitrine
{
    width: 290px;
    height: 150px;
    margin-bottom: 10px;
}

.paragraph-vitrine
{
    color: #000;
    padding: 0px 30px;
    
} */